fastapi
uvicorn
python-dotenv
psycopg2-binary
passlib
python-jose
python-multipart
bcrypt
pydantic
pydantic-settings
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-groq
langchain-text-splitters
langgraph
google-genai
groq
httpx
requests
beautifulsoup4
apify_client
tiktoken
google-auth
langchain-tavily
opencv-python-headless
